.colorDiv {
  max-width: 300px;
}

@media screen and (min-width: 400px) {
  .colorDiv {
    max-width: 640px;
  }
}
.color_picker {
  max-width: 100%;

  padding: 10px;
  border: 1px solid black;
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* .item {
  width: calc((100% - 40px) / 5); */
/* height: same as width;
} */

.title {
  line-height: 1.3p;
}

.option {
  display: inline-block;
  width: 35px;
  height: 35px;
  transition: transform 250ms linear;
  border: none;
  outline: none;
}

.option_active {
  transform: scale(1.25);
}
